<!DOCTYPE html >
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="/pages/template.xhtml">

	<ui:define name="pageTitle">Page unfound</ui:define>
	<ui:define name="pageHeaderTitle">Ouuuups !!!!</ui:define>
	<ui:define name="pageContent">Cette page n'existe pas encore. Nous attendons toujours la 4InfoB1 pour la livrer</ui:define>
</ui:composition>