<!DOCTYPE html >
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<nav
		class="navbar navbar-default navbar-static-top"
		style="margin-bottom: 0">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
			<div class="panel-header">
				<img src="#{request.contextPath}/resources/images/esprit.png" />
			</div>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown"><a
				class="dropdown-toggle"
				data-toggle="dropdown"
				href="#"> <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
			</a>
				<ul class="dropdown-menu dropdown-user">
					<h:form id="registerForm">
						<li><h:commandButton
								value="Français"
								action="#{langSwitcher.doSetLanguage('fr')}"
								image="../resources/images/flag_france.png" /> <h:commandButton
								value="Anglais"
								action="#{langSwitcher.doSetLanguage('en')}"
								image="../resources/images/flag_great_britain.png" /> <h:commandButton
								value="Arabe"
								action="#{langSwitcher.doSetLanguage('ar')}"
								disabled="true"
								image="../resources/images/flag_tunisia.png" /></li>
					</h:form>
				</ul></li>
			<li class="dropdown"><a
				class="dropdown-toggle"
				data-toggle="dropdown"
				href="#"> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
			</a>
				<ul class="dropdown-menu dropdown-user">
					<li><h:form>
							<h:commandLink action="teachers">
								<i class="fa fa-user fa-fw"></i>
								#{authenticationController.loggedIn==true ? authenticationController.teacher.personFirstName.concat(' ').concat(authenticationController.teacher.personLastName)  : 'User profile'}</h:commandLink>
						</h:form></li>
					<li class="divider"></li>
					<li><h:form rendered="#{authenticationController.loggedIn}">
							<h:commandLink action="#{authenticationController.doLogOut()}">
								<i class="fa fa-sign-out fa-fw"></i>
								Logout</h:commandLink>
						</h:form> <h:form rendered="#{!authenticationController.loggedIn}">
							<h:commandLink action="login?faces-redirect=true">
								<i class="fa fa-sign-in fa-fw"></i>
								Sign In</h:commandLink>
						</h:form></li>
				</ul></li>
		</ul>
	</nav>
</ui:composition>