<!DOCTYPE html>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">
	
	<ui:define name="pageTitle">Please Sign In or register</ui:define>
	<ui:define name="pageContent">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-panel panel panel-default">
						<h:form>
							<div class="panel-heading">
								#{msg.loginHeader}
								<h:commandLink
									value="register"
									action="registration?faces-redirect=true"
									StyleClass="panel-title" />
							</div>
						</h:form>
						<h:form id="formLogin">
							<div class="panel-body">
								<fieldset>
									<div class="form-group">
										<h:inputText
											class="form-control"
											placeholder="E-mail"
											value="#{authenticationController.teacher.personEmail}" />
									</div>
									<div class="form-group">
										<h:inputSecret
											class="form-control"
											value="#{authenticationController.teacher.personPassword}" />
									</div>
									<h:commandButton
										styleClass="btn btn-lg btn-success btn-block"
										id="authFormCommand"
										value="Login"
										type="submit"
										action="#{authenticationController.doLogIn()}" />
								</fieldset>
								<br />
								<h:messages
									layout="table"
									styleClass="form-error"
									showDetail="true" />
							</div>
						</h:form>
					</div>
				</div>
			</div>
	
	</ui:define>
</ui:composition>
