<!DOCTYPE html>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">
	<ui:define name="pageTitle">Register ...</ui:define>
	<ui:define name="pageContent">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Registration Form</h3>
						</div>
						<h:form id="registrationForm">
							<div class="panel-body">
								<fieldset>
									<div class="form-group">
										<h:outputText value="First Name" />
										<h:message
											for="firstNameField"
											styleClass="form-error" />
										<h:inputText
											id="firstNameField"
											class="form-control"
											required="true"
											requiredMessage=" is mendatory"
											validatorMessage=" is an alphabetical field"
											value="#{registrationController.teacher.personFirstName}">
											<f:validateRegex
												pattern="[a-z A-Z]*"
												for="firstNameField" />
										</h:inputText>
									</div>
									<div class="form-group">
										<h:outputText value="Last Name" />
										<h:message
											for="lastNameField"
											styleClass="form-error" />
										<h:inputText
											id="lastNameField"
											class="form-control"
											required="true"
											requiredMessage=" is mendatory"
											validatorMessage=" is alphabetical field"
											value="#{registrationController.teacher.personLastName}">
											<f:validateRegex
												pattern="[a-z A-Z]*"
												for="lastNameField" />
										</h:inputText>
									</div>
									<div class="form-group">
										<h:outputText value="Gender" />
										<h:selectOneMenu
											class="form-control"
											value="#{registrationController.teacher.personGender}">
											<f:selectItem
												itemLabel="Female"
												itemValue="false" />
											<f:selectItem
												itemLabel="Male"
												itemValue="true" />
										</h:selectOneMenu>
									</div>
									<div class="form-group">
										<h:outputText value="E-mail" />
										<h:message
											for="eMailField"
											styleClass="form-error" />
										<h:inputText
											id="eMailField"
											class="form-control"
											required="false"
											requiredMessage=" is mendatory"
											validatorMessage=" must be well formed"
											value="#{registrationController.teacher.personEmail}">
											<f:validateRegex
												pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"
												for="eMailField" />
										</h:inputText>
									</div>
									<div class="form-group">
										<h:outputText value="Password" />
										<h:message
											for="passwordField"
											styleClass="form-error" />
										<h:inputSecret
											id="passwordField"
											redisplay="true"
											class="form-control"
											required="true"
											requiredMessage=" is mendatory"
											validatorMessage=" length must be between 8 and 12 characters"
											value="#{registrationController.teacher.personPassword}">
											<f:validateLength
												minimum="8"
												maximum="12"
												for="passwordField" />
										</h:inputSecret>
									</div>
									<h:commandButton
										class="btn btn-lg btn-success btn-block"
										value="Register"
										type="submit"
										action="#{registrationController.doRegisterTeacher()}" />
								</fieldset>
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
