<!DOCTYPE html>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">
	<ui:define name="pageTitle">Teachers management</ui:define>
	<ui:define name="pageHeaderTitle">Teachers List</ui:define>
	<ui:define name="pageContent">
		<div class="row">
			<div class="col-lg-9">
				<h:form rendered="#{authenticationController.loggedIn}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Teachers</h3>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<h:dataTable
									id="dataTables-example_wrapper"
									class="table table-striped table-bordered table-hover dataTable no-footer"
									value="#{teacherController.teachers}"
									rowClasses="gradeA odd, gradeA even"
									var="teacher">
									<h:column>
										<f:facet name="header">
								First Name
								</f:facet>
										<h:outputText value="#{teacher.personFirstName}" />
									</h:column>
									<h:column>
										<f:facet name="header">
								Last Name
								</f:facet>
										<h:outputText value="#{teacher.personLastName}" />
									</h:column>
									<h:column>
										<f:facet name="header">
								E-mail
								</f:facet>
										<h:outputText value="#{teacher.personEmail}" />
									</h:column>
									<h:column>
										<f:facet name="header">
								Gender
							</f:facet>
										<h:outputText value="#{teacher.personGender==true ? 'Male' : 'Female'}" />
									</h:column>
									<h:column>
										<f:facet name="header">
								Actions
							</f:facet>
										<h:commandLink value="Update  ">
											<f:setPropertyActionListener
												target="#{teacherController.teacher}"
												value="#{teacher}" />
											<f:setPropertyActionListener
												target="#{teacherController.display}"
												value="true" />
										</h:commandLink>
										<h:commandLink
											action="#{teacherController.doDeleteTeacher()}"
											value="Delete">
											<f:setPropertyActionListener
												target="#{teacherController.teacher}"
												value="#{teacher}" />
										</h:commandLink>
									</h:column>
								</h:dataTable>
							</div>
						</div>
					</div>
				</h:form>
				<div class="col-lg-12">
					<h:form rendered="#{!authenticationController.loggedIn}">
						<div class="alert alert-danger">
							You should be logged in to get access to this area. Please Sign up
							<h:commandLink
								action="login?faces-redirect=true"
								value="here" />
						</div>
					</h:form>
				</div>
			</div>
			<div class="col-lg-3">
				<h:form
					id="registrationForm"
					rendered="#{teacherController.display}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Teachers</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<div class="form-group">
									<h:outputText value="First Name" />
									<h:message
										for="firstNameField"
										styleClass="form-error" />
									<h:inputText
										id="firstNameField"
										class="form-control"
										required="true"
										requiredMessage=" is mendatory"
										validatorMessage=" is an alphabetical field"
										value="#{teacherController.teacher.personFirstName}">
										<f:validateRegex
											pattern="[a-z A-Z]*"
											for="firstNameField" />
									</h:inputText>
								</div>
								<div class="form-group">
									<h:outputText value="Last Name" />
									<h:message
										for="lastNameField"
										styleClass="form-error" />
									<h:inputText
										id="lastNameField"
										class="form-control"
										required="true"
										requiredMessage=" is mendatory"
										validatorMessage=" is alphabetical field"
										value="#{teacherController.teacher.personLastName}">
										<f:validateRegex
											pattern="[a-z A-Z]*"
											for="lastNameField" />
									</h:inputText>
								</div>
								<div class="form-group">
									<h:outputText value="Gender" />
									<h:selectOneMenu
										class="form-control"
										value="#{teacherController.teacher.personGender}">
										<f:selectItem
											itemLabel="Female"
											itemValue="false" />
										<f:selectItem
											itemLabel="Male"
											itemValue="true" />
									</h:selectOneMenu>
								</div>
								<div class="form-group">
									<h:outputText value="E-mail" />
									<h:message
										for="eMailField"
										styleClass="form-error" />
									<h:inputText
										id="eMailField"
										class="form-control"
										required="false"
										requiredMessage=" is mendatory"
										validatorMessage=" must be well formed"
										value="#{teacherController.teacher.personEmail}">
										<f:validateRegex
											pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"
											for="eMailField" />
									</h:inputText>
								</div>
								<div class="form-group">
									<h:outputText value="Password" />
									<h:message
										for="passwordField"
										styleClass="form-error" />
									<h:inputSecret
										id="passwordField"
										redisplay="true"
										class="form-control"
										required="true"
										requiredMessage=" is mendatory"
										validatorMessage=" length must be between 8 and 12 characters"
										value="#{teacherController.teacher.personPassword}">
										<f:validateLength
											minimum="8"
											maximum="12"
											for="passwordField" />
									</h:inputSecret>
								</div>
								<h:commandButton
									class="btn btn-lg btn-success btn-block"
									value="Update"
									type="submit"
									action="#{teacherController.doUpdateTeacher()}" />
								<h:commandButton
									class="btn btn-lg btn-warning btn-block"
									value="Cancel"
									action="#{teacherController.doCancelUpdateTeacher()}" />
							</fieldset>
						</div>
					</div>
				</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>