<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0" />
	<title><ui:insert name="pageTitle">...</ui:insert></title>
	<link
		href="#{request.contextPath}/resources/css/bootstrap.min.css"
		rel="stylesheet" />
	<link
		href="#{request.contextPath}/resources/font-awesome/css/font-awesome.css"
		rel="stylesheet" />
	<link
		href="#{request.contextPath}/resources/css/plugins/morris/morris-0.4.3.min.css"
		rel="stylesheet" />
	<link
		href="#{request.contextPath}/resources/css/plugins/timeline/timeline.css"
		rel="stylesheet" />
	<link
		href="#{request.contextPath}/resources/css/sb-admin.css"
		rel="stylesheet" />
	<h:outputScript
		library="js"
		name="jquery-1.10.2.js" />
	<h:outputScript
		library="js"
		name="bootstrap.min.js" />
	<h:outputScript
		library="js/plugins/metisMenu"
		name="jquery.metisMenu.js" />
	<h:outputScript
		library="js"
		name="sb-admin.js" />
	<h:outputScript
		library="js/demo"
		name="dashboard-demo.js" />
	<h:outputScript
		library="js/plugins/morris"
		name="raphael-2.1.0.min.js" />
	<h:outputScript
		library="js/plugins/morris"
		name="morris.js" />
</h:head>
<body>
	<div id="wrapper">
		<ui:include src="/pages/headerBar.xhtml" />
		<ui:include src="/pages/sideBar.xhtml" />
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						<ui:insert name="pageHeaderTitle"></ui:insert>
					</h1>
				</div>
			</div>
			<ui:insert name="pageContent"></ui:insert>
		</div>
	</div>
</body>
</html>